src/main/resources/xsds/Acon_Interface_XSD/Get_AR_Invoice_Due_Date/kn-InvoiceService-V1.wsdl

<?xml version="1.0" encoding="UTF-8"?><!--
  ~ (C) Copyright. Kuehne + Nagel All rights reserved.
  ~
  ~ This document, which contains confidential material, is private and
  ~ confidential and is the property and copyright of Kuehne + Nagel. It is not
  ~ to be used for any other purposes, copied, distributed or transmitted in any
  ~ form or by any means without the prior written consent of Kuehne + Nagel.
  ~ Infringement of copyright is a serious civil and criminal offense, which can
  ~ result in heavy fines and payment of substantial damages.
  -->

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tns="http://services.kn.com/wsdl/acon/invoice/InvoiceService/v1"
                  xmlns:invs="http://services.kn.com/xsd/acon/invoice/InvoiceService/v1"
                  xmlns:audit="http://knesb.int.kn/xsd/esb/audit/v01"
                  xmlns:routing="http://knesb.int.kn/xsd/esb/routing/v1/"
                  targetNamespace="http://services.kn.com/wsdl/acon/invoice/InvoiceService/v1">
    <wsdl:types xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">

            <xsd:import namespace="http://services.kn.com/xsd/acon/Common/v1"
                       schemaLocation="../common/ACON-CommonTypes-V1_1.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>

            <xsd:import namespace="http://services.kn.com/xsd/acon/invoice/InvoiceService/v1"
                       schemaLocation="KN-InvoiceService-V1.xsd"/>
            <xsd:import namespace="http://knesb.int.kn/xsd/esb/audit/v01" schemaLocation="../../esb/audit/KNESB_Audit_v01_1.1.xsd"/>
            <xsd:import namespace="http://knesb.int.kn/xsd/esb/routing/v1/" schemaLocation="../../esb/routing/KNESB_Routing_v1.xsd"/>

        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="AuditHeader">
        <wsdl:part name="AuditHeader" element="audit:Audit"/>
    </wsdl:message>
    <wsdl:message name="RoutingHeader">
        <wsdl:part name="RoutingHeader" element="routing:Routing"/>
    </wsdl:message>
    <wsdl:message name="GetInvoiceDueDateRequest" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
        <wsdl:part name="GetInvoiceDueDateRequest" element="invs:GetInvoiceDueDateRequest"
                   xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="GetInvoiceDueDateResponse" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
        <wsdl:part name="GetInvoiceDueDateResponse" element="invs:GetInvoiceDueDateResponse"
                   xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="InvoiceServiceInterface" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
        <wsdl:operation name="GetInvoiceDueDate" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
            <wsdl:input message="tns:GetInvoiceDueDateRequest" name="GetInvoiceDueDateRequest"
                        xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
            </wsdl:input>
            <wsdl:output message="tns:GetInvoiceDueDateResponse" name="GetInvoiceDueDateResponse"
                         xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="InvoiceServiceInterfaceSoap11" type="tns:InvoiceServiceInterface"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"
                      xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
        <wsdl:operation name="GetInvoiceDueDate" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
            <soap:operation soapAction="http://services.kn.com/wsdl/acon/invoice/InvoiceService/v1/GetInvoiceDueDate" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
            <wsdl:input name="GetInvoiceDueDateRequest" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
                <soap:header part="AuditHeader" message="tns:AuditHeader" use="literal"/>
                <soap:header part="RoutingHeader" message="tns:RoutingHeader" use="literal"/>
                <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
            </wsdl:input>
            <wsdl:output name="GetInvoiceDueDateResponse" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
                <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="InvoiceServiceInterfaceService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
        <wsdl:port binding="tns:InvoiceServiceInterfaceSoap11" name="InvoiceServiceInterfaceSoap11"
                   xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
            <soap:address location="http://localhost:9090/acon_iia/wsdl/"
                          xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>